.dot-green {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.dot-red {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}


 #first-level{
     padding-left: 15px;
 }


/* admin people page */
#my-delete,#my-edit,#my-release, #my-win{
    font-size: 1.5em;
}

#my-win,#my-release{
    height: 1.8em;
    padding-bottom: 10px;
}

.top-adding-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-adding-btn> #sec-btn{
    color: #000000;

}

.top-adding-btn> #sec-btn:hover{
    color: #fff;

}

